#sidebar {
	position: absolute;
	left: 0;
	top: 45px;
	bottom: 25px;
	width: 226px;
	/*padding-left: 10px;
	padding-top: 10px;*/
	line-height:16px;
	background: url('../img/noise.png') #eee;
	box-shadow: 0 5px 15px -10px rgba(0,0,0,0.5) inset;
	-moz-user-select: none;
	-webkit-user-select: none;
	overflow: auto;
	cursor: default;

	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
	font-size: 16px;
	font-size: 75%;
	background: #fff;
	color: #333;
	
	padding: 1em;
}

#editor {
    position: absolute;
    left: 250px;
    width: 1400px;
    height: 500px;
	border: none;
	/* overflow:hidden; */
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
	
	margin-bottom:10px;
}

#editor-tabs{
	position: absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	/*width:inherit;
	height:600px;*/
	font-size: 75%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

#editor-ace{
	position: absolute;
	left:4px;
	top:32px;
	right:4px;
	bottom:4px;
	/*width:inherit;
	height:550px;*/
}


/*

#sidebar li{
	line-height:12px;
}

#sidebar ul{
	line-height:12px;
}

#sidebar span{
	line-height:12px;
}




#sidebar ul {
	margin: 8px 0;
	padding-left: 0;
}

#sidebar ul ul {
	margin: 0;
}

#sidebar li {
	padding-left: 20px;
	list-style: none;
	white-space: nowrap;
}

#sidebar li.hidden {
	display: none !important;
}

#sidebar.show-hidden li.hidden {
	display: block !important;
	opacity: 0.25;
}

#sidebar li.folder {
	background: url('../img/right-arrow.png') 6px 4px no-repeat;
}

#sidebar li.folder > ul {
	display: none;
}

#sidebar li.folder.open {
	background: url('../img/down-arrow.png') 6px 4px no-repeat;
}

#sidebar li.folder.open > ul {
	display: block;
}

#sidebar li.root {
	padding-left: 0;
}

#sidebar li.selected, #sidebar li.folder.selected {
	background-color: rgba(55,120,194,0.3);
	border-radius: 5px 0 0 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.5);
	color: #3d5979;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#sidebar li.selected.syncing {
	background-image: url('../img/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: right center;
}

#sidebar li img {
	margin: 4px;
	vertical-align: -7px;
	min-width: 16px;
	min-height: 16px;
}

#sidebar li i {
	font-size: 8pt;
	color: #444;
}

#sidebar input[type="search"] {
	display: block;
	width: 225px;
	margin: 0;
	padding: 0;
}
*/
