<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= title %> - CuteKoder</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <style type="text/css" media="screen">
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheets/bootstrap-responsive.css" href="stylesheet" />
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="/">
	    CuteKoder
	  </a>
	  <div class="nav-collapse">
	    <ul class="nav">
	      <li><a class="href="/"">Home</a></li>
	      <li><a href="/login">Login</a></li>
	      <li class="active"><a href="/reg">Register</a></li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
    <form class="form-horizontal" method="post">
      <fieldset>
	<div class="row">
	  <div class="span6 ">
	    <blockquote class="pull-right">
	      <p>凌冬将至. 我是黑暗中的利剑，长城上的守卫，抵御寒冷的烈焰，破晓时分的光线，唤醒眠者的号角，守护王国的坚盾。</p>  守夜人军团总司令.<small>蒙奇.D.<citetitle="">路飞</cite></small>
	    </blockquote>
	  </div>
	  <div class="span6 ">
	    <blockquote>
	      <p>凌冬将至.
		我是黑暗中的利剑，长城上的守卫，抵御寒冷的烈焰，破晓时分的光线，唤醒眠者的号角，守护王国的坚盾。</p>  守夜人军团总司令.<small>蒙奇.D.<citetitle="">路飞</cite></small>
	    </blockquote>
	  </div>
	</div>

	<table class="tabel table-bordered table-striped">
	  <thead>
	    <tr>
	      <th>Button</th>
	      <th>class=""</th>
	      <th>Description</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td><button class="btn" href="#" >Default</button></td>
	      <td><code>btn</code></td>
	      <td>Standard gray button with gradient</td>
	    </tr>
	    
	    <tr>
	      <td><button class="btn btn-primary" href="#" >Primary</button></td>
	      <td><code>btn btn-primary</code></td>
	      <td>Provides extra visual weight and indentifies and primary actions in a set of buttons</td>
	    </tr>

	  </tbody>
	</table>

	<div class="form-actions">
	  <button type="submit" class="btn btn-primary" >Sign up for free</button>
	</div>

      </fieldset>
    </form>
    <!-- <hr /> -->
    <div>
      <footer>
	<p><a href="lucky315.an@gmail.com/" target="_blank">lucky315.an</a>2013</p>
      </footer>
    </div>
  </body>
  <script type="text/javascript" src="/javascript/jquery.js"></script>
  <script type="text/javascript" src="/javascript/bootstrap.js"></script>
</html>
