<!DOCTYPE html>
<html xmlns:a="http://ajax.org/2005/aml" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="apf_debug.js"></script>
        <!--script src="../../js/apf_release.js"></script-->
        <title>Content Viewer</title>

    </head>
    <body>
        <a:appsettings
          debug="false"
          debug-teleport="false"
          allow-select="true" />

        <a:skin src="skins/platform/skins.xml" media-path="skins/platform/images/" />

        <a:webdav id="myWebDAV" url="http://localhost:3000/workspace" />
	<a:script >
	</a:script>

    </body>
</html>
