<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css" />    
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
  </body>

  <nav>
    <span><a href="/" title="Home Page">Home</a></span>
    <span><a href="/" title="Login"></a>Login</span>
    <span><a href="/" title="Sign up"></a>Register</span>
  </nav>

  <article>
