<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css" />    
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
  </body>

  <nav>
    <span><a href="/" title="Home Page">Home</a></span>
    <% if(locals.user){ %>
      <span><a title="Post" href="/post">Post</a></span>
      <span><a title="Logout" href="/logout">Logout</a></span>
    <% } else { %>
      <span><a title="Login" href="/login">Login</a></span>
      <span><a title="Sign up" href="/reg">Register</a></span>
    <% } %>
  </nav>

  <article>
    <% if(locals.success) { %>
      <div><%= locals.success %></div> 
    <% } %>
    <% if(locals.error) { %>
      <div><%= locals.success %></div> 
    <% } %>
    
